* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --pink-500: #FF57B2;
  --gray-100: #F8F8F8;
  --gray-900: #1A1D23;
  --gray-500: #BBBBBB;
  --gray-600: #D7D7D7;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--gray-900);
}

body, input, textarea, select, button {
  font: 400 1rem "Inter", sans-serif;
  p {
    color: var(--gray-500);
  }

  h1, h2, strong {
    color: var(--gray-100)
  }
}

button, a {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
